@import './_variables';

$left-row-left: $base-left - $cards-margin - $cards-width;
$right-row-left: $base-left + $cards-margin + $cards-width;

.card-stack[class*="row-"] {
  background-color: palegreen;
}

@for $i from 0 through 7 {
  .card-stack.row-#{$i} {
    left: if($i < 4, $left-row-left, $right-row-left);
    top: $top + ($i % 4) * ($cards-height + $cards-margin);
  }
}
