@import './variables';

.card-stack {
  position: absolute;
  z-index: 0;
  width: $cards-width;
  height: $cards-height;
}

@for $i from 0 through 3 {
  .ace-foundation-#{$i} {
    top: $top + $cards-height + $cards-vertical-margin;
    left: $left + $i * ($cards-width + $cards-horizontal-margin);
    background-color: palegreen;
  }
}

@for $i from 0 through 3 {
  .king-foundation-#{$i} {
    top: $top;
    left: $left + $i * ($cards-width + $cards-horizontal-margin);
    background-color: palegreen;
  }
}

@for $i from 0 through 3 {
  .column-#{$i} {
    top: $top + 2 * ($cards-height + $cards-vertical-margin);
    left: $left + $i * ($cards-width + $cards-horizontal-margin);
  }
}

@for $i from 4 through 12 {
  .column-#{$i} {
    top: $top + $cards-height + $cards-vertical-margin;
    left: $left + $i * ($cards-width + $cards-horizontal-margin);
  }
}
